name: Exploring Variables and Secrets
# on: push
on:
  workflow_dispatch:
  push:

  # schedule:
  #   - cron: "*/1 * * * *"
  
env:
    IMAGE_NAME: github-actions-nginx
jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
        - name: Docker Build
          run: echo docker build -t ${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest

        - name: Docker Login
          run: echo docker login --username=${{ vars.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}

        - name: Docker Publish
          run: echo docker push -t ${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME:latest

    deploy:
        if: github.ref == 'refs/heads/main'
        timeout-minutes: 2
        needs: docker
        concurrency: 
          group: deployment-group
          cancel-in-progress: true
        runs-on: ubuntu-latest
        steps:
        - name: Docker Run
          timeout-minutes: 1
          run: |
            echo docker run -d -p 8080:8080  ${{ vars.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            sleep 600s