name: Exploring Variables and Secrets
on: push
jobs:
    docker:
        env:
            DOCKER_USERNAME: rrprasad
            DOCKER_PASSWORD: 123xyz
            IMAGE_NAME: github-actions-nginx
        runs-on: ubuntu-latest
        steps:
        - name: Docker Build
          run: echo docker build -t $DOCKER_USERNAME/$IMAGE_NAME:latest

        - name: Docker Login
          run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

        - name: Docker Publish
          run: echo docker push -t $DOCKER_USERNAME/$IMAGE_NAME:latest

    deploy:
        env:
            DOCKER_USERNAME: rrprasad
            DOCKER_PASSWORD: 123xyz
            IMAGE_NAME: github-actions-nginx
        needs: docker
        runs-on: ubuntu-latest
        steps:
        - name: Docker Run
          env:
            DOCKER_USERNAME: rrprasad
            IMAGE_NAME: github-actions-nginx
          run: echo docker run -d -p 8080:8080  ${{ env.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest